/*body 	{
    	padding: 10px;
    	background: white;
    	color:black;
	font-family:"Times New Roman", Times, sans-serif;
	}*/
		
/* Add a card effect for articles */
.card 		{
    		background-color: #EEEEEE;
    		padding: 8px;
    		margin-top: 8px;
		}
		
/*Left column */
.top_left_column {
		
    		float: left;
    		width: 15%;
    		padding: 0.25%;
		}	
/* Top Left Canvas */
.top_left_canvas {
    		width: 100%;
    		padding: 0.25%;
    		margin: auto;
		}
		
.center_area 	{
		display: inline-block;
		padding: 0.25%;
		width: 63.5%;
		}		
	
.center_canvas{
    		width:100%;
    		padding: 0.25%;
    		margin: auto;
		}


.center_canvas td{
    		text-align: center;
		}
	
	
/* Right column */
.top_right_column { 
		
		float: right;
    		width: 20%;
    		padding: 0.25%;
		}
		
/* Top Right canvas */
.top_right_canvas{
    		width:100%;
    		padding: 0.25%;
    		margin: auto;
		}
		
		
.text_in_label {
		font-size: medium;
		font-weight: bold;
		}
		
.auto_scaled_image {
		height: auto;
		max-width: 100%;
		   }
		   
.auto_scale_20 {height: auto;
		max-width: 20%;
		}

.center_align_table 	{
			margin-left:auto; 
    			margin-right:auto;
			border: 0px;
			}
			
.div_text_align_center	{
  			text-align: center;
  			
			}

.display_inline_block{
			display: inline-block;
			}